@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center mt-4">
    @Html.ActionLink("✍️ Fill Contact Form", "Index", "Form", null, new { @class = "btn btn-primary" })
</div>